.event-body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #FAF9F6;
}

.event-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: pink; */
    width: 50%;
    margin: 20px;
    margin-left: 50px;
    margin-right: 0;
}

.event-header {
    margin-bottom: 10px;
    display: flex;
    font-size: small;
}

.header-star {
    height: 20px;
    margin-right: 5px;
}

.event-title {
    font-size: 70px;
}

.event-info {
    font-size: 12px;
    color: gray;
    width: 500px;
}

.event-actions{
    margin-top: 10px;
}

.event-collaborate {
    width: 200px;
    padding: 20px;
    margin-right: 16px;
    border-radius: 50px;
    border-width: 0px;
    background-color: #284183;
    color: #FFF0FF;
}

.event-joinus {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    border-width: 0px;    
    background-color: #284183;
    color: #FFF0FF;
}

.button-arrow {
    height: 20px;
    margin-left: 10px;
    color: #FFF0FF;
}

.event-hero{
    /* background-color: lightblue; */
    background-image: url("../../../public/assets/imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 20px;
    margin-right: 50px;
    border-radius: 24px;
}