/* Colors: 

- #284183
- #284183
- #faf9f6 
*/

.event-body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #faf9f6;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: pink; */
  width: 50%;
  margin: 20px;
  margin-left: 50px;
  margin-right: 0;
}

.event-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: small;
}

.header-star {
  height: 12px;
  margin-right: 5px;
  color: #000;
}

.isc {
  font-weight: 700;
  margin-right: 4px;
}

.event-title {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  color: #222222;
}

.dot {
  color: #284183;
}

.event-info {
  font-size: 12px;
  color: gray;
  width: 500px;
}

.event-actions {
  margin-top: 40px;
  display: flex;
}

.event-collaborate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px;
  margin-right: 16px;
  border-radius: 50px;
  border-width: 0px;
  background-color: #284183;
  color: #faf9f6;
  font-size: large;
  transition: color 0.4s linear;
}

.event-collaborate:hover {
  padding: 18px;
  border-width: 2px;
  color: #284183;
  background-color: #faf9f6;
  border-color: #284183;
  cursor: pointer;
}

.event-joinus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 18px;
  background-color: #faf9f6;
  border-radius: 50px;
  border-width: 2px;
  color: #284183;
  border-color: #284183;
  font-size: large;
  transition: color 0.4s linear;
}

.event-joinus:hover {
  padding: 20px;
  border-width: 0px;
  color: #faf9f6;
  background-color: #284183;
  cursor: pointer;
}

.button-arrow {
  height: 30px;
  margin-left: 10px;
  color: #faf9f6;
  transition: color 0.4s linear;
}

.event-collaborate:hover .button-arrow {
  color: #284183;
}

.button-arrow-two {
  height: 30px;
  margin-left: 10px;
  color: #284183;
  transition: color 0.4s linear;
}

.event-joinus:hover .button-arrow-two {
  color: #faf9f6;
}

a {
  text-decoration: none;
}

.event-hero {
  width: 50%;
  margin: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.top-hero {
  background-image: url("../../assets/imgs/people.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 16px;
  margin-bottom: 5px;
}

.bottom-hero {
  height: 50%;
  border-radius: 16px;
  display: flex;
  margin-top: 5px;
}

.bottom-left-hero {
  background-image: url("../../assets/imgs/pcb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  border-radius: 16px;
  margin-right: 5px;
}

.bottom-right-hero {
  background-image: url("../../assets/imgs/berry.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  border-radius: 16px;
  margin-left: 5px;
}

@media only screen and (max-width: 475px) {
  .event-body {
    display: flex;
    flex-direction: column;
    height: 200vh;
  }

  .event-details {
    margin-left: 20px;
    height: 100vh;
  }

  .event-hero {
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .top-hero {
    height: 33.34%;
    width: 90vw;
  }

  .bottom-hero {
    height: 66.66%;
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  .bottom-left-hero {
    height: 50%;
    width: 90vw;
    margin: 0;
  }

  .bottom-right-hero {
    height: 50%;
    width: 90vw;
    margin: 0;
    margin-top: 10px;
  }

  .event-header {
    font-size: 10px;
  }

  .event-header-title {
    display: flex;
    flex-direction: column;
  }

  .header-star {
    height: 16px;
  }

  .event-title {
    font-size: 70px;
  }

  .play {
    font-size: 60px;
  }

  .event-info {
    font-size: 10px;
    max-width: 300px;
  }

  .event-collaborate {
    font-size: small;
    width: 150px;
  }

  .event-joinus {
    font-size: small;
    width: 150px;
  }

  a {
    text-decoration: none;
  }

  .button-arrow {
    height: 20px;
  }

  .button-arrow-two {
    height: 20px;
  }
}
