nav{
    position: fixed;
    display: flex;
    z-index: 99;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* top: 1%; */
    /* border-radius: 16px; */
    height: 8vh;
    width: 100vw;
    background-color: #284083bb;
    backdrop-filter: blur(10px);
}

.navbar {
    margin: 0 200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #faf9f6;
}

h3:hover {
    cursor: pointer;
}

.follow {
    text-decoration: none;
    color: #faf9f6;
    padding: 15px;
}

.membership {
    border-width: 0;
    background-color: #faf9f6;
    color: #284183;
    padding: 12px;
    border-radius: 12px;
    font-weight: 700;
    transition: color 0.4s ease-in;
}

.membership:hover {
    cursor: pointer;
    border-width: 2px;
    padding: 10px;
    border-color: #faf9f6;
    background-color: #284183aa;
    color: #faf9f6;
    font-weight: 900;
}