* {
    padding: 0%;
    margin: 0%;
}

.cursor {
    background-color: #000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}